@import "../styles/viewports.scss";

$icon-size: 32px;

@mixin shapeParent {
    position: relative;
    background-color: var(--bg);
    z-index: 1;
}

@mixin shape {
    z-index: -1;
    content: " ";
    position: absolute;
    background-color: inherit;
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg);
}

@mixin iframe-common {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid var(--bg);
}

@mixin shape-bg-color-animation {
    &:hover {
        &::after, &::before {
            background-color: var(--dark);
        }
    }

    &:after, &::before {
        transition: background-color 0.25s;
    }
}

.main {
    background-color: black;
    background: url("../assets/singer-songwriter-photo1_lo.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.innerContainer {
    width: 100%;
    max-width: 520px;
    padding: 16px;
    text-align: center;
}

.logoImageWrap {
    margin: 48px auto;
    @include shapeParent();
    display: inline-block;

    &:before {
        @include shape();
        transform: skewY(-6deg);
        right: -8%;
        top: 0%;
        height: 100%;
        width: 80%;
    }

    &:after {
        @include shape();
        left: -2%;
        top: 0;
        height: 100%;
        width: 80%;
    }

    @include shape-bg-color-animation();
}

.logoImage {
    width: 100%;
    height: auto;
    max-width: 240px;
    display: block;
    margin: auto;
    padding: 16px;
    box-sizing: content-box;
    background-color: var(--bg);
}

.socialIconsList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    padding: 16px;
    @include shapeParent();

    &:before {
        @include shape();
        transform: skewY(2deg) skewX(-10deg);
        left: -1%;
        top: -3%;
        height: 100%;
        width: 80%;
    }

    &:after {
        @include shape();
        transform: skewY(2deg) skewX(5deg);
        right: 0%;
        top: 9%;
        height: 97%;
        width: 80%;
    }
}

.socialIcon {
    width: $icon-size;
    height: $icon-size;
    display: block;
}

.videoBorder {
    @include shapeParent();

    &:before {
        @include shape();
        transform: skewX(-10deg) skewY(1deg);
        right: 0%;
        top: 6%;
        height: 97%;
        width: 80%;
    }

    &:after {
        @include shape();
        transform: skewY(2deg) skewX(5deg);
        left: -1%;
        top: 0;
        height: 100%;
        width: 80%;
    }
}

.videoWrap {
    margin-bottom: 32px;
    position: relative;
    /* 16:9 */
    padding-bottom: 56.25%;
    height: 0;

    iframe {
        @include iframe-common();
    }
}

.releasesList {
    padding-bottom: 32px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;

    @media screen and (min-width: $mobile-md-min) {
        grid-template-columns: 1fr 1fr;
    }
}

.bandcampEmbedBorder {
    @include shapeParent();

    &:first-of-type {
        &::before {
            @include shape();
            transform: skewY(2deg) skewX(-10deg);
            left: -1%;
            top: -3%;
            height: 100%;
            width: 80%;
        }

        &::after {
            @include shape();
            transform: skewX(4deg) skewY(-2deg);
            right: -1%;
            top: 15%;
            height: 87%;
            width: 80%;
        }
    }

    &:last-of-type {
        &::before {
            @include shape();
            transform: skewX(3deg) skewY(-1deg);
            right: -1%;
            top: 5%;
            height: 97%;
            width: 40%;
        }

        &::after {
            @include shape();
            transform: skewY(3deg) skewX(1deg);
            left: -1%;
            top: -1%;
            height: 105%;
            width: 55%;
        }
    }
}

.bandcampEmbed {
    padding-bottom: 100%;
    height: 0;

    iframe {
        @include iframe-common();
    }
}