$mobile-xs: 320px;
$mobile-xs-min: $mobile-xs - 1px;
$mobile-sm: 375px;
$mobile-sm-min: $mobile-sm - 1px;
$mobile-md: 425px;
$mobile-md-min: $mobile-md - 1px;
$tablet: 768px;
$tablet-min: $tablet - 1px;
$screen-md: 1024px;
$screen-md-min: $screen-md - 1px;
$screen-lg: 1440px;
$screen-lg-min: $screen-lg - 1px;
$screen-xl: 2560px;
$screen-xl-min: $screen-xl - 1px;
